<script type="text/javascript" src="assets/resources/js/jquery-3.3.1.js"></script>

<script type="text/javascript" src="assets/resources/js/bootstrap.js"></script>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="accueilClient.jsp"> <img
				alt="Brand" src="../resources/img/logo.png">
			</a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="loginClient.jsp"><i class="fa fa-user-circle-o"
					aria-hidden="true"></i> Mon compte</a></li>
			<li><a href=""><i class="fa fa-phone" aria-hidden="true"></i>
					Contactez-nous</a></li>
		</ul>
	</div>
</nav>


<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="listeDestination.jsp">Destinations</a></li>
			</ul>
			<ul class="nav navbar-nav">
				<li><a href="listePack.jsp">Packs</a></li>
			</ul>
			<ul class="nav navbar-nav">
				<li><a href="listeHebergement.jsp">Hébergements</a></li>
			</ul>
			<ul class="nav navbar-nav">
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" role="button" aria-haspopup="true"
					aria-expanded="false">Loisirs <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li><a href="listeLoisir.jsp">Tous nos loisirs</a></li>
					</ul></li>
			</ul>
			<ul class="nav navbar-nav">
				<li><a href="listePromotion.jsp">Promotions</a></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>
